/////////////////////////////////////////////////////////////////////////////
//
// Microsoft Visual C++ generated resource script.
//
#define APSTUDIO_READONLY_SYMBOLS
#include "WinResrc.h" //"afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#include "../src/version.h"

#define __VERSION_STRING__(W,X,Y,Z) #W "." #X #Y "-" #Z
#define _VERSION_STRING_(W,X,Y,Z) __VERSION_STRING__(W,X,Y,Z)
#define VERSION_STRING _VERSION_STRING_(MEMCK_VERSION_MAJOR,MEMCK_VERSION_MINOR_HI,MEMCK_VERSION_MINOR_LO,MEMCK_VERSION_PATCH)

/////////////////////////////////////////////////////////////////////////////
//
// Neutral resources
//
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
101 ICON "memory.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION    MEMCK_VERSION_MAJOR, MEMCK_VERSION_MINOR_HI, MEMCK_VERSION_MINOR_LO, MEMCK_VERSION_PATCH
 PRODUCTVERSION MEMCK_VERSION_MAJOR, MEMCK_VERSION_MINOR_HI, MEMCK_VERSION_MINOR_LO, MEMCK_VERSION_PATCH
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "ProductName",      "Memory Checker"
            VALUE "FileDescription",  "Memory Checker"
            VALUE "ProductVersion",   VERSION_STRING
            VALUE "FileVersion",      VERSION_STRING
            VALUE "InternalName",     "MemoryChecker"
            VALUE "OriginalFilename", "MemoryChecker.exe"
            VALUE "LegalCopyright",   "Created by LoRd_MuldeR <MuldeR2@GMX.de>"
            VALUE "CompanyName",      "Muldersoft"
            VALUE "LegalTrademarks",  "Muldersoft"
            VALUE "Comments",         "This work has been released under the CC0 1.0 Universal license!"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
